html, body {
  margin: 0;
  padding: 0;
}
.logo{
  height: 40px;
  width: 50px;
}

#header {
  margin: 0;
  padding: 5px;
}

#heading{
  color: whitesmoke;
  text-decoration: none;
}

#blogs{
  width: 60%;
  margin-left: 18%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #edf2f4;
  box-shadow: 5px 5px 15px black;
  transition: transform 0.3s ease;
}

#blogs:hover{
  background-color: #293241;
  border: 3px solid #52b788;
  color: whitesmoke;
  box-shadow: 5px 5px 15px #52b788;
  animation: moveUp 0.5s ease forwards;
}

#blogs:hover #viewblog{
  color: #52b788;
  font-weight: bold;
}
.card-title{
  text-transform: uppercase;
}

#content{
  text-decoration: none;
}
#viewblog{
  text-decoration: underline;
  color: black;
}

#addForm{
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  background-color: #e9ecef;
}
.form-label{
  color: #40916c;
  font-weight: bolder;
}

.form-control{
  border: 2px solid #52b788;
  border-radius: 1px;
}

#addForm .bt{
  background-color: #52b788;
  font-weight: bold;
  border-radius:16px ;
  padding: 8px;
  margin-left: 15px;
}

#detail{
  width: 60%;
  margin-left: 18%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #edf2f4;
  box-shadow: 5px 20px 30px #40916c;
  padding: 20px;
}

#detail #title{
  margin-bottom: 1px;
  text-transform: uppercase;
  text-decoration:wavy;
  text-decoration: underline;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#edit{
  color: blue;
  border: 2px solid blue;
  border-radius: 7px;
  padding: 6px;
}

#del{
  background-color: black;
  border-radius: 7px;
  border: 2px solid black;
  padding: 6px;
  color: whitesmoke;
}

#like1{
  color: red;
  border: 2px solid red;
  background-color: white;
  border-radius: 7px;
  padding: 6px;
}

#like2{
  color: black;
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 7px;
  padding: 6px;
}

.pagenotfound {
  text-align: center;
  padding: 40px;
  margin-top: 16%;
}

.ptitle {
  font-size: 36px;
  color: #FF5733; /* Choose your preferred text color */
}

.pdesc {
  font-size: 18px;
  color: #555; /* Choose your preferred text color */
}


@keyframes moveUp {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-5px); /* Adjust the distance you want to move upwards */
  }
}